---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	date={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
	<h2>关于我</h2>
	<div class="">
		<div class="description">
			<p>大三学生🧑‍💻|软件工程专业💻|不切实际的理想主义者😶‍🌫️</p>
			<p>这世上有两个我，</p>
			<p>一个躯壳喂日常,</p>
			<p>一个灵魂补岁月；</p>
			<p>一个举杯邀明月,</p>
			<p>一个跪地捡碎银。</p>
		</div>
	</div>
	<h2>关于本站</h2>
	<p>
		本站以 <a href="https://astro.build/" target="_blank">Astro</a> 为框架，部署于
		<a href="https://github.com/" target="_blank">Github Pages</a>，由 <a
			href="https://dash.cloudflare.com/"
			target="_blank">Cloudflare</a
		> 负责 DNS解析，图片存放于<a
			href="https://cloud.tencent.com/"
			target="_blank">腾讯云 COS</a
		>。
	</p>
</Layout>
